* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header {
  padding: 7px 0;
  font-size: 13px;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: #212322;
}

.header a {
  color: #ccc;
}

#main-text {
  margin: 5px;
  display: flex;
  justify-content: center;
}

#tech {
  margin: 0 auto;
  max-width: 650px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#tech div {
  text-align: center;
  background-color: #EEE;
  border-radius: 15px;
  margin: 7px 4px;
  padding: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#tech div:hover {
  transform: scale(1.05);
  border-color: 10px solid #66d;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

* a:hover {
  transform: scale(1.2);
}